// ESQUEMA DE COLORES
// PRIMER ESQUEMA DE COLOR
$white: #FFF;
$snow: #FAFAFA;
$q-silver: #A0A0A0;

// SEGUNDO ESQUEMA DE COLOR
$j-bean: #E56353;
$salmon: #E97F72;
$p-pink: #F0A9A1;

// TERCER ESQUEMA DE COLOR
$g-gray: #686963;
$t-gray: #91918D;
$gray: #BABAB8;

// FUENTES
// RALEWAY
$raleway: 'Raleway', sans-serif;
$raleway-x-light: 200;
$raleway-light: 300;
$raleway-regular: 400;

// TAMAÑOS
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;

$pf: $raleway;
$pf-light: $raleway-light;
$pf-regular: $raleway-regular;

// BREAKPOINT
$min-lp: 992px;