/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-position: center;
  background-size: cover;
  display: table;
  text-align: center;
  align-content: center;
}
.header__img {
  width: 300px;
  padding: 20px 0 10px 40px;
}

.main {
  background-color: #E56353;
  color: #FFF;
  height: 500px;
  text-align: center;
}
.main__contenido {
  position: relative;
  top: 40%;
}
.main__text {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  font-weight: lighter;
}
.main__text-bold {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  font-weight: bolder;
}

.organics {
  background-color: #A0A0A0;
  color: #FFF;
  text-align: center;
}
.organics__img {
  padding-top: 5%;
  width: 80%;
}
.organics__title {
  padding-top: 2%;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bolder;
}
.organics__text {
  width: 100%;
  padding: 2% 20% 2% 20%;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: justify;
}

.limache {
  background-color: #FFF;
  text-align: center;
}
.limache__img {
  padding-top: 2%;
  width: 80%;
}
.limache__title {
  padding-top: 2%;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: bolder;
}
.limache__text {
  width: 100%;
  padding: 2% 20% 2% 20%;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: justify;
}

.nosotros {
  background-color: #E56353;
  color: #FFF;
  width: 100%;
  padding: 20px 0 30px 0;
  text-align: center;
}
.nosotros__text {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  font-weight: bolder;
}

.integrantes {
  background-color: #FFF;
  color: #000;
  width: 100%;
  display: inline-block;
}
.integrantes__img {
  width: 50%;
  height: 50%;
}
.integrantes__nombre {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #686963;
  font-weight: bold;
}
.integrantes__text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #686963;
  padding: 2% 20% 5%;
  text-align: justify;
}

.oferta {
  background-color: #E56353;
  color: #FFF;
  width: 100%;
  padding: 20px 0 30px 0;
  text-align: center;
}
.oferta__text {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: bolder;
}

.footer {
  background-color: #A0A0A0;
  display: block;
  width: 100%;
  text-align: center;
}
.footer__img {
  background-color: #A0A0A0;
  width: 20%;
  height: 20%;
  padding: 10% 0%;
}

.button {
  width: 200px;
}
.button__r {
  background-color: #FFF;
  color: #686963;
  font-size: 18px;
  border-radius: 18px;
  padding: 10px 0 10px 0;
}

/*# sourceMappingURL=main.css.map */
